* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}

/*******************************************************

                        UTILITIES

********************************************************/

/* #region Utilities */


:root{
    --sptf-main: rgba(20, 25, 34, 1);
    --sptf-dark: rgba(8, 11, 18, 1);
    --sptf-darkest: rgba(0, 0, 0, 1);
    --sptf-light-dark: rgba(40, 40, 40, 1);
    
    --sptf-selection: rgba(173, 255, 47, 1);

    --sptf-font-light-dark: rgba(120, 122, 127, 1);
    --sptf-font-light: rgba(255, 255, 255, 1);
}


.container{
    max-width: 1152px;
    width: 90%;
    margin: auto;
}

.py-1{
    padding: 1rem 0;
}

.m-0{
    margin: 0;
}

.mt-2{
    margin-top: 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap
}

.col-2{
    width: calc((100% / 12 * 2) - 1rem);
}

.col-4{
    width: calc(100% / 12 * 4);
}

.col-6{
    width: calc(100% / 12 * 6);
}

.col-10{
    width: calc(100% / 12 * 10);
}

.col-12{
    width: 100%;
}

.g-1{
    gap: 1rem;
}

.d-flex{
    display: flex;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.text-align-center{
    text-align: center;
}


/* #endregion Utilities */

/*******************************************************

                        CONTENT

********************************************************/
/* #region Header */

#site_header{
    background-color: var(--sptf-dark);
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
}

#site_header button{
    border: 1px solid var(--sptf-font-light);
    border-radius: 50px;
    padding: 0.75rem 2rem;
    background-color: transparent;
    color: var(--sptf-font-light);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;

}

/* #endregion Header */

/* #region Main */

/*******************************************************

                        MAIN SECTION

********************************************************/

#main{
    background-color: var(--sptf-main);
    height: calc(100vh - 90px);
    overflow-y: scroll;
}

.list-inline{
    list-style: none;
}

.list-inline > li{
    display: inline-block;
    padding: 1rem 1.5rem;
}

.list-inline > li > a{
    text-decoration: none;
    color: var(--sptf-font-light-dark);
    font-weight: 800;
    font-size: 12px;
    line-height: 2.5rem;
}

.recent .col-2 img, .foryou img, .popular img{
    max-width: 100%;
}

.recent > h2, .foryou > h5, .popular > h5{
    margin-bottom: 2rem;
    color: var(--sptf-font-light);
}

.recent .row .col-2 .card h4, .foryou h2, .foryou h4, .popular > h2, .popular h4{
    color: var(--sptf-font-light);
    margin-top: 1rem;
}

.recent .row .col-2 .card h5, .foryou h5, .popular h5, .popular h3{
    color: var(--sptf-font-light-dark);
    margin-top: 0.5rem;
}

.popular .card img{
    border-radius: 50%;
}


/*******************************************************

                        SIDEBAR

********************************************************/

#sidebar{
    height: calc(100vh - 90px);
    width: 230px;
    width: 100%;
    background-color: var(--sptf-darkest);
}


/* #endregion Main */

/* #region Footer */

footer{
    height: 90px;
    background-color: var(--sptf-light-dark);
}

/* #endregion Footer */

/*******************************************************

                        RESPONSIVENESS

********************************************************/

@media screen and (max-width: 878px ) {

    .col-md-2{
        width: calc((100% / 12 * 2) - 1rem);
    }

    .col-md-3{
        width: calc((100% / 12 * 3) - 1rem);
    }
    
    .col-md-4{
        width: calc(100% / 12 * 4);
    }
    
    .col-md-6{
        width: calc(100% / 12 * 6);
    }
    
    .col-md-10{
        width: calc(100% / 12 * 10);
    }
    
    .col-md-12{
        width: 100%;
    }

    
}

@media screen and (max-width: 639px) {

    .col-s-2{
        width: calc((100% / 12 * 2) - 1rem);
    }

    .col-s-3{
        width: calc((100% / 12 * 3) - 1rem);
    }
    
    .col-s-4{
        width: calc(100% / 12 * 4);
    }
    
    .col-s-6{
        width: calc((100% / 12 * 6) - 1rem);
    }
    
    .col-s-10{
        width: calc(100% / 12 * 10);
    }
    
    .col-s-12{
        width: 100%;
    }
    
}

@media screen and (max-width: 552px) {

    #sidebar{
        width: 30px;
    }
    
}